/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    background: #000;
}

/* Navigation Bar */
#nav {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 35px;
    justify-content: space-between;
}

#nav-prt2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

#nav h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

#nav i {
    font-size: 20px;
    margin-right: 5px;
}

#nav img {
    height: 120px;
}

#line {
    width: 80px;
    height: 3px;
    background-color: red;
}

/* Content Section */
#content {
    height: calc(100% - 130px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left {
    width: 36%;
    height: 100%;
    padding: 100px 100px;
    animation: fadeIn 1s ease-in-out;
}

#left h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    animation: fadeIn 1s ease-in-out;
}

#left h1 span {
    color: brown;
    font-weight: 500;
}

#left p {
    margin-bottom: 20px;
    font-size: 17px;
    width: 70%;
    line-height: 24px;
    opacity: 0.6;
    animation: fadeIn 1.2s ease-in-out;
}

#left button {
    background-color: red;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    animation: slideIn 1.4s ease-in-out;
}

#center {
    width: 26%;
    height: 100%;
    padding-top: 60px;
}

#center-bg {
    width: 100%;
    height: 90%;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url(https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg);
    background-size: 250%;
    background-position: 30% 40%;
    filter: blur(3px);
    animation: zoomIn 1.5s ease-in-out;
}

#right {
    width: 36%;
    height: 100%;
    padding: 200px 100px;
}

.elem1, .elem2 {
    /* display: flex; */
    animation: fadeIn 1.2s ease-in-out;
    animation-delay: 0.8s;
}

.elem1 h1, .elem2 h1 {
    animation: fadeIn 1.5s ease-in-out;
    animation-delay: 0.5s;
}

.elem1 i {
    animation: fadeIn 1.5s ease-in-out;
    animation-delay: 0.8s;
}

#content > img {
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%, 0%);
    animation: zoomIn 1.2s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
